@import 'tailwindcss';

@plugin 'tailwindcss-animate';

@import './base.css';

@variant dark (&:is(.dark *));

@theme {
  --text-xs: 12px;
  --text-xs--line-height: 20px;
  --text-sm: 14px;
  --text-sm--line-height: 22px;

  --color-background: hsl(var(--background));
  --color-foreground: hsl(var(--foreground));

  --color-card: hsl(var(--card));
  --color-card-foreground: hsl(var(--card-foreground));

  --color-popover: hsl(var(--popover));
  --color-popover-foreground: hsl(var(--popover-foreground));

  --color-primary: hsl(var(--primary));
  --color-primary-foreground: hsl(var(--primary-foreground));

  --color-secondary: hsl(var(--secondary));
  --color-secondary-foreground: hsl(var(--secondary-foreground));

  --color-muted: hsl(var(--muted));
  --color-muted-foreground: hsl(var(--muted-foreground));

  --color-accent: hsl(var(--accent));
  --color-accent-foreground: hsl(var(--accent-foreground));

  --color-destructive: hsl(var(--destructive));
  --color-destructive-foreground: hsl(var(--destructive-foreground));

  --color-border: hsl(var(--border));
  --color-input: hsl(var(--input));
  --color-ring: hsl(var(--ring));

  --color-chart-1: hsl(var(--chart-1));
  --color-chart-2: hsl(var(--chart-2));
  --color-chart-3: hsl(var(--chart-3));
  --color-chart-4: hsl(var(--chart-4));
  --color-chart-5: hsl(var(--chart-5));

  --radius-lg: var(--radius);
  --radius-md: calc(var(--radius) - 2px);
  --radius-sm: calc(var(--radius) - 4px);

  --animate-logon-form: logonForm 0.5s ease-in forwards;
  --animate-signup-form: signupForm 0.5s ease-in forwards;
  --animate-logon-logo: logonLogo 0.5s ease-in forwards;
  --animate-signup-logo: signupLogo 0.5s ease-in forwards;

  @keyframes signupForm {
    0% {
      translate: 16px 0;
    }
    100% {
      translate: 388px 0;
    }
  }
  @keyframes logonForm {
    0% {
      translate: 388px 0;
    }
    100% {
      translate: 16px 0;
    }
  }
  @keyframes signupLogo {
    0% {
      translate: 388px 0;
      box-shadow: 8px 8px 32px rgba(0, 0, 0, 0.3);
      background: url('/bg-logon.png') no-repeat;
      background-size: cover;
    }
    90% {
      box-shadow: 8px 8px 32px rgba(0, 0, 0, 0.3);
    }
    100% {
      translate: 16px 0;
      box-shadow: none;
      background: url('/bg-signup.png') no-repeat;
      background-size: cover;
    }
  }
  @keyframes logonLogo {
    0% {
      translate: 16px 0;
      box-shadow: 8px 8px 32px rgba(0, 0, 0, 0.3);
      background: url('/bg-signup.png') no-repeat;
      background-size: cover;
    }
    90% {
      box-shadow: 8px 8px 32px rgba(0, 0, 0, 0.3);
    }
    100% {
      translate: 388px 0;
      box-shadow: none;
      background: url('/bg-logon.png') no-repeat;
      background-size: cover;
    }
  }
}
